<div class="navbar navbar-inverse navbar-fixed-top" id="gbr-navbar" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gbr-navigation-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          <a href="#" class="navbar-brand" id="gbr-brand"><span><img [src]="bcImagePath" alt="Border Collie Image"/></span>Georgia Border Collie Rescue</a>


        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation" id="gbr-navigation-menu">

          <ul class="nav navbar-nav">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Adoptable Dogs</a></li>
            <li><a href="#">Adoption Application</a></li>
           
          </ul>

          <div class="for-small-screens visible-xs">

          </div>
          <!-- for small screens -->
        </div>
        <!-- gbr-navigation-menu -->
      </div>
      <!-- col-md-12 -->
    </div>
    <!-- row -->
  </div>
  <!--container -->
</div>
<!-- navbar -->